@font-face {
    font-family: 'MARIOFont';
    src: url('font/mariofont.otf');
  }
body{
    background-image: url("images/background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
#NAV{
  background-color: lime;
  font-family: MARIOFont;
  width: auto;
  height: 50px;
  text-indent: 10px;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}
#TEXTBOX{
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: lime;
  font-family: MARIOFont;
  width: 600px;
  height: 900px;
  margin: auto;
  text-align: center;
  color: lime;
  font-size: larger;
}
