@font-face {
  font-family: 'MARIOFont';
  src: url('font/mariofont.otf');
}
body{
  background-image: url("images/background.png");
  background-color: black;
  background-repeat: no-repeat; 
  background-size: cover;
}
#NAV{
  background-color: lime;
  font-family: MARIOFont;
  width: auto;
  height: 50px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
}
#MAP{
  height: 50px;
}
#BACK{
  height: 50px;
}
.button{
  background-color: black;
  color: lime;
  border-radius: 5px;
  border-style: solid;
  border-color: lime;
  padding: 2px;
  text-decoration: none;
  text-align: center;
  margin-inline-start: 2px;
}
.button:hover{
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  cursor: pointer;
}
#TEXTBOX{
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border-style: solid;
  border-color: lime;
  font-family: MARIOFont;
  width: auto;
  height: 900px;
  margin: auto;
  color: white;
  font-size: larger;
}
#WELCOME{
  color: lime;
  text-align: center;
}
h1{
  color: white;
  text-decoration: underline;
  margin-left: 10px;
  text-align: start;
}
#PTCUFR:hover {
  box-shadow: 0 0 10px 5px rgb(255, 255, 255);
  cursor: pointer;
}
#PTCUFR{
  align-items: center;
  border-radius: 5px;
  border-color: white;
  border-style: outset;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 96%;
  height: auto;
}
h2{
  text-align: center;
}
